@model HuahuiSite.Web.Areas.Backend.Models.OrderViewModel

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-actions">
                <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            </div>
        </div>
        <div class="card-body collapse show">
            <div class="table-responsive">
                <table class="table" id="table-data">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order Id</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ int No = 1; }

                        @foreach (var itemOfOrder in Model.OrderList)
                        {

                            <tr class="tr-data-row">
                            <td>@No</td>
                            <td>@itemOfOrder.Id</td>
                            <td>@(itemOfOrder.Status.Equals("Cart") ? "รอการยืนยัน" : itemOfOrder.Status.Equals("Confirm") ? "ยืนยันการสั่งซื้อแล้ว" : itemOfOrder.Status.Equals("Approve") ? "ระบบรับ Order แล้ว" : "ปิดการขาย")</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modal-row-table-@No"> <i class="fas fa-eye text-inverse m-r-10"></i> </a>
                                <div class="modal fade" id="modal-row-table-@No" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form class="form-row-table">

                                                <!-- Hidden Value Start -->

                                                <input type="hidden" name="hid-order-id" value="@itemOfOrder.Id" />

                                                <!-- Hidden Value End -->

                                                <div class="modal-header" style="background-color: #ff6a00;">
                                                    <h4 class="modal-title text-white">View Order: @itemOfOrder.Id</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-white">×</span></button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="modal-body">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="card-actions">
                                                                        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body collapse show">
                                                                    <div class="table-responsive">
                                                                        <table class="table" id="table-data">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Product Name</th>
                                                                                    <th>Picture</th>
                                                                                    <th>Quantity</th>
                                                                                    <th>Total Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @{

                                                                                    int SummaryQuantityOfProduct = 0;
                                                                                    decimal SummaryTotalOfProduct = 0;

                                                                                }

                                                                                @foreach (var itemOfOrderItem in Model.OrderItemList.Where(w => w.OrderId.Equals(itemOfOrder.Id)))
                                                                                {

                                                                                    <tr class="tr-data-row">

                                                                                        <!-- Hidden Value of Cart Item Start -->
                                                                                        <!-- Hidden Value of Cart Item End -->

                                                                                        <td>@itemOfOrderItem.ProductName</td>
                                                                                        <td>
                                                                                            <img src="~/images/upload/@itemOfOrderItem.PictureFileName" alt="Picture" width="80" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="number" class="form-control col-sm-4" name="Quantity" value="@itemOfOrderItem.Quantity" onchange="CalculateTotalPrice(this)" disabled />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" class="form-control col-sm-6" name="TotalPrice" value="@itemOfOrderItem.TotalPrice" disabled />
                                                                                        </td>
                                                                                    </tr>

                                                                                    SummaryQuantityOfProduct += itemOfOrderItem.Quantity;
                                                                                    SummaryTotalOfProduct += itemOfOrderItem.TotalPrice;

                                                                                }

                                                                                <tr>
                                                                                    <td><b>Total</b></td>
                                                                                    <td></td>
                                                                                    <td><input type="text" class="form-control col-sm-4" value="@SummaryQuantityOfProduct" disabled /></td>
                                                                                    <td><input type="text" class="form-control col-sm-6" value="@SummaryTotalOfProduct" disabled /></td>
                                                                                    <td></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <div class="col-sm-4">

                                                        @if (itemOfOrder.Status.Equals("Approve"))
                                                        {
                                                            <button type="button" class="btn btn-success waves-effect waves-light m-r-10" onclick="CompleteOrder(this)">Complete</button>
                                                        }

                                                    </div>
                                                    <div class="col-sm-4 align-items-end">
                                                        <div>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            @*<button type="button" class="btn btn-success" onclick="UpdateCart(this)"><i class="fa fa-check"></i> Success</button>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                            No++;

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>