@model HuahuiSite.Web.Areas.Backend.Models.ProductViewModel

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-actions">
                <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            </div>
        </div>
        <div class="card-body collapse show">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Picture</th>
                            <th>CreateDatetime</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ int No = 1; }

                        @foreach (var item in Model.ProductList)
                        {
                            <tr>
                                <td>@No</td>
                                <td>@item.Name</td>
                                <td>

                                @if (@item.PictureFileName != null)
	                            {
                                    <img src="~/images/upload/@item.PictureFileName" alt="Picture" width="80" />
                                }

                                </td>
                                <td>@item.CreatedDateTime</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#modal-row-table-@No"> <i class="fas fa-pencil-alt text-inverse m-r-10"></i> </a>
                                    <div class="modal fade" id="modal-row-table-@No" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <form class="form-row-table" asp-controller="Product" asp-action="Update" data-ajax="true" data-ajax-method="post" data-ajax-success="OnUpdateSuccess" enctype="multipart/form-data">

                                                    <!-- Hidden Value -->
                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                    <input type="hidden" name="hid-unitId" value="@item.UnitId" />
                                                    <input type="hidden" name="hid-productCategorieCode" value="@item.ProductCategorieCode" />
                                                    <input type="hidden" name="hid-productGroupCode" value="@item.ProductGroupCode" />
                                                    @if (@item.IsLicense) { <input type="hidden" name="IsLicense" value="true" /> } else { <input type="hidden" name="IsLicense" value="false" /> }
                                                    @if (@item.IsPromotion) { <input type="hidden" name="IsPromotion" value="true" /> } else { <input type="hidden" name="IsPromotion" value="false" /> }
                                                    <input type="hidden" name="PictureFileName" value="@item.PictureFileName" />
                                                    <input type="hidden" name="CreatedDateTime" value="@item.CreatedDateTime" />
                                                    <input type="hidden" name="IsRemoveImage" />
                                                    <!-- End Hidden Value -->

                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Edit Product</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="control-label">Code</label>
                                                                    <input type="text" class="form-control" name="Code" value="@item.Code" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Name</label>
                                                                    <input type="text" class="form-control" name="Name" value="@item.Name" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Unit</label>
                                                                    <select class="form-control" name="UnitId" asp-items="@Model.UnitOfProductSelectList">
                                                                        <option value="">--- Please Select Item ---</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Categorie</label>
                                                                    <select class="form-control" name="ProductCategorieCode" asp-items="@Model.ProductCategorieSelectList">
                                                                        <option value="">--- Please Select Item ---</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Group</label>
                                                                    <select class="form-control" name="ProductGroupCode" asp-items="@Model.ProductGroupSelectList">
                                                                        <option value="">--- Please Select Item ---</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">

                                                                    @if (item.IsLicense)
                                                                    {
                                                                        <input type="checkbox" id="IsLicense-@No" class="check" onclick="SwitchCheck(this)" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" id="IsLicense-@No" class="check" onclick="SwitchCheck(this)" />
                                                                    }

                                                                    <label for="IsLicense-@No" class="control-label">License</label>
                                                                </div>
                                                                <div class="form-group">

                                                                    @if (item.IsPromotion)
                                                                    {
                                                                        <input type="checkbox" id="IsPromotion-@No" class="check" onclick="SwitchCheck(this)" checked />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" id="IsPromotion-@No" class="check" onclick="SwitchCheck(this)" />
                                                                    }

                                                                    <label for="IsPromotion-@No" class="control-label">Promotion</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Picture Upload</label>
                                                            <input type="file" class="dropify" name="PictureFile" />
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success" onclick="return ValidateUpdateSubmit(this)"><i class="fa fa-check"></i> Success</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" onclick="Delete(this)"><i class="fas fa-trash-alt text-inverse m-r-10"></i></a>
                                </td>
                            </tr>

                            No++;

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>