@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

<div class="breadcrumbs_area" style="margin-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content" style="padding-bottom: 10px;">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li>Promotion</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="shop_title">
                    <h3>รายการสินค้าโปรโมชั่น</h3>
                </div>
                <div class="shop_area shop_reverse">
                    <div class="container img-list">
                        <div class="row">

                            @if (!Model.LoginViewModel.IsLogin)
                            {
                                int NoOfProduct = 0;

                                @foreach (var item in Model.PromotionViewModel.ProductList.Where(w => w.IsPromotion && !w.IsLicense))
                                {

                                    <div class="col-lg-4 showPromotion">
                                        <form class="form-product-item" id="form-product-@NoOfProduct" asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" data-ajax-success="OnAddToCartSuccess">

                                            <!-- Hidden Value Start -->

                                            <input type="hidden" name="hid-form-product-id" value="form-product-@NoOfProduct" />
                                            <input type="hidden" name="ProductId" value="@item.Id" />
                                            <input type="hidden" name="ProductName" value="@item.Name" />
                                            <input type="hidden" name="ProductUnitPrice" value="@item.UnitPrice" />
                                            <input type="hidden" name="ProductPictureFileName" value="@item.PictureFileName" />
                                            <input type="hidden" name="ProductGroupCode" value="@item.ProductGroupCode" />
                                            <input type="hidden" name="IsPromotion" value="@(item.IsPromotion ? "true" : "false")" />
                                            <input type="hidden" name="PromotionPrice" value="@item.PromotionPrice" />
                                            <input type="hidden" name="MinQuantity" value="@item.MinQuantity" />
                                            <input type="hidden" name="MaxQuantity" value="@item.MaxQuantity" />

                                            <!-- Add Cart Start -->

                                            <input type="hidden" name="ProductIsPromotion" value="@(item.IsPromotion ? "true" : "false")" />
                                            <input type="hidden" name="ProductPromotionPrice" value="@item.PromotionPrice" />
                                            <input type="hidden" name="QuantityOfItem" />

                                            <!-- Add Cart End -->
                                            <!-- Hidden Value End -->

                                            <div class="single_product">
                                                <div class="product_thumb" style="text-align: center;">

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {
                                                        <img src="~/images/upload/@item.PictureFileName" alt="" width="200">
                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#modal-row-table-@NoOfProduct"><img src="~/images/upload/@item.PictureFileName" alt="" width="200"></a>
                                                        <div class="modal fade" id="modal-row-table-@NoOfProduct" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" data-backdrop="static">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="myModalLabel">@item.Name</h4>
                                                                        <button type="button" class="close" style="border: 0px;" data-dismiss="modal" aria-hidden="true">×</button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <img src="~/images/upload/@item.PictureFileName" alt="" width="600">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="quick_button">
                                                            <a title="quick view" onclick="OpenProductModal(this)"><i class="ion-eye"></i></a>
                                                        </div>

                                                    }

                                                </div>
                                                @*<div class="label_product">
                                <span class="label_new">New</span>
                            </div>*@
                                            </div>

                                            <div class="product_content grid_content">
                                                <div class="content_inner">
                                                    <div class="product_name">
                                                        <h3>@item.Name</h3>
                                                    </div>

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="price_box">
                                                            <span class="old_price">@item.UnitPrice</span>
                                                            <span class="current_price">@item.PromotionPrice บาท</span>
                                                        </div>

                                                        <div class="add_to_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                            </ul>
                                                        </div>

                                                    }

                                                </div>
                                            </div>

                                            <div class="product_content list_content">
                                                <div>
                                                    <div class="product_name">
                                                        <h3>Categories :  @item.ProductCategorieCode</h3>
                                                    </div>
                                                    <div class="product_name">
                                                        <h3> <a href="#" data-toggle="modal" data-target="#modal-row-table-@NoOfProduct"> @item.Name</a></h3>
                                                        <h3><a href="product-details.html"> @item.Name</a></h3>
                                                    </div>

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="price_box">
                                                            <span class="old_price">@item.PromotionPrice</span>
                                                            <span class="current_price">@item.UnitPrice บาท</span>
                                                        </div>

                                                        <div class="add_to_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                            </ul>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            <input type="submit" name="btn-submit" style="display: none;" />
                                        </form>
                                    </div>

                                    NoOfProduct++;

                                }
                            }
                            else
                            {
                                int NoOfProduct = 0;

                                @foreach (var item in Model.PromotionViewModel.ProductList.Where(w => w.IsPromotion))
                                {

                                    <div class="col-lg-4 showPromotion">
                                        <form class="form-product-item" id="form-product-@NoOfProduct" asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" data-ajax-success="OnAddToCartSuccess">

                                            <!-- Hidden Value Start -->

                                            <input type="hidden" name="hid-form-product-id" value="form-product-@NoOfProduct" />
                                            <input type="hidden" name="ProductId" value="@item.Id" />
                                            <input type="hidden" name="ProductName" value="@item.Name" />
                                            <input type="hidden" name="ProductUnitPrice" value="@item.UnitPrice" />
                                            <input type="hidden" name="ProductPictureFileName" value="@item.PictureFileName" />
                                            <input type="hidden" name="ProductGroupCode" value="@item.ProductGroupCode" />
                                            <input type="hidden" name="IsPromotion" value="@(item.IsPromotion ? "true" : "false")" />
                                            <input type="hidden" name="PromotionPrice" value="@item.PromotionPrice" />
                                            <input type="hidden" name="MinQuantity" value="@item.MinQuantity" />
                                            <input type="hidden" name="MaxQuantity" value="@item.MaxQuantity" />

                                            <!-- Add Cart Start -->

                                            <input type="hidden" name="ProductIsPromotion" value="@(item.IsPromotion ? "true" : "false")" />
                                            <input type="hidden" name="ProductPromotionPrice" value="@item.PromotionPrice" />
                                            <input type="hidden" name="QuantityOfItem" />

                                            <!-- Add Cart End -->
                                            <!-- Hidden Value End -->

                                            <div class="single_product">
                                                <div class="product_thumb" style="text-align: center;">

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {
                                                        <img src="~/images/upload/@item.PictureFileName" alt="" width="200">
                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#modal-row-table-@NoOfProduct"><img src="~/images/upload/@item.PictureFileName" alt="" width="200"></a>
                                                        <div class="modal fade" id="modal-row-table-@NoOfProduct" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" data-backdrop="static">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content text-center">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="myModalLabel">@item.Name</h4>
                                                                        <button type="button" class="close" style="border: 0px;" data-dismiss="modal" aria-hidden="true">×</button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <img src="~/images/upload/@item.PictureFileName" alt="" width="600">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="quick_button">
                                                            <a title="quick view" onclick="OpenProductModal(this)"><i class="ion-eye"></i></a>
                                                        </div>

                                                    }

                                                </div>
                                                @*<div class="label_product">
                                <span class="label_new">New</span>
                            </div>*@
                                            </div>

                                            <div class="product_content grid_content">
                                                <div class="content_inner">
                                                    <div class="product_name">
                                                        <h3>@item.Name</h3>
                                                    </div>

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="price_box">
                                                            <span class="old_price">@item.UnitPrice</span>
                                                            <span class="current_price">@item.PromotionPrice บาท</span>
                                                        </div>

                                                        <div class="add_to_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                            </ul>
                                                        </div>

                                                    }

                                                </div>
                                            </div>

                                            <div class="product_content list_content">
                                                <div>
                                                    <div class="product_name">
                                                        <h3>Categories :  @item.ProductCategorieCode</h3>
                                                    </div>
                                                    <div class="product_name">
                                                        <h3> <a href="#" data-toggle="modal" data-target="#modal-row-table-@NoOfProduct"> @item.Name</a></h3>
                                                        <h3><a href="product-details.html"> @item.Name</a></h3>
                                                    </div>

                                                    @if (Model.LoginViewModel.IsLogin)
                                                    {

                                                        <div class="price_box">
                                                            <span class="old_price">@item.PromotionPrice</span>
                                                            <span class="current_price">@item.UnitPrice บาท</span>
                                                        </div>

                                                        <div class="add_to_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                            </ul>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            <input type="submit" name="btn-submit" style="display: none;" />
                                        </form>
                                    </div>

                                    NoOfProduct++;

                                }
                            }

                        </div>
                    </div>
                </div>

                <a href="#" class="prev btn btn-primary">< Prev</a>
                <a href="#" class="next btn btn-primary">Next ></a>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/frontend/promotion.js"></script>

    <script>

        $(document).ready(function () {

            $('#dataproduct').DataTable({
                "ordering": false
            });

            var start = 0;
            var nb = 6;
            var end = start + nb;
            var length = $('.img-list .showPromotion').length;
            var list = $('.img-list .showPromotion');

            list.hide().filter(':lt(' + (end) + ')').show();

            $('.prev, .next').click(function (e) {
                e.preventDefault();

                if (start <= 0 || (start >= 0 && $(this).hasClass('prev'))) {
                    if ($(this).hasClass('prev')) {
                        start -= nb;
                    } else {
                        start += nb;
                    }

                    if (start < 0 || start >= length) start = 0;
                    end = start + nb;

                    if (start == 0) list.hide().filter(':lt(' + (end) + ')').show();
                    else list.hide().filter(':lt(' + (end) + '):gt(' + (start - 1) + ')').show();
                }
            });

            var start = 0;
            var nb = 6;
            var end = start + nb;
            var length = $('.img-list .showPromotion').length;
            var list = $('.img-list .showPromotion');

            list.hide().filter(':lt(' + (end) + ')').show();
        });

        var _cartItemList = @Html.Raw(Json.Serialize(@Model.PromotionViewModel.CartItemListModelList));

        AddToCartSubmit = (e) => {
            alert('submit');
            $(e).closest(".form-product-item").find(".btn-submit").click();
        };

        OnAddToCartSuccess = (res) => {
            if (res.isSuccess) {
                window.location = "/Cart/Index";
            }
            else {

                swal("Login Failed", "", "error");
            }
        };

    </script>

}


