@model HuahuiSite.Web.Areas.Frontend.Models.ShopListViewModel
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Camera & Video </li>
                        <li>shop list</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_reverse pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        @* <div class="widget_list widget_filter">
        <h2>Filter by price</h2>
         <form action="#">
             <div id="slider-range"></div>
             <button type="submit">Filter</button>
             <input type="text" name="text" id="amount" />

         </form>
                    </div>*@
                        <div class="widget_list widget_categories">
                            <h2><b>Filter by categories</b></h2>
                            @*<h2>Product categories</h2>*@
                            <ul>
                                <li>
                                    @*<input type="checkbox">*@
                                    <a href="#">Categories1 (6)</a>
                                    @*<span class="checkmark"></span>*@
                                </li>
                                <li>
                                    @*<input type="checkbox">*@
                                    <a href="#">Categories2(10)</a>
                                    @*<span class="checkmark"></span>*@
                                </li>
                                <li>
                                    @*<input type="checkbox">*@
                                    <a href="#">Categories3 (4)</a>
                                    @*<span class="checkmark"></span>*@
                                </li>
                                <li>
                                    @*<input type="checkbox">*@
                                    <a href="#">Categories4(10)</a>
                                    @*<span class="checkmark"></span>*@
                                </li>
                                <li>
                                    @*<input type="checkbox">*@
                                    <a href="#">Categories5(8)</a>
                                    @*<span class="checkmark"></span>*@
                                </li>

                            </ul>
                        </div>

                        @*<div class="widget_list widget_categories">
            <h2>Manufacturer</h2>
            <ul>
                <li>
                    <input type="checkbox">
                    <a href="#">Calvin Klein (6)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Chanel(10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Christian Dior (4)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">hermes(10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">louis vuitton(8)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Tommy Hilfiger(7)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Versace(6)</a>
                    <span class="checkmark"></span>
                </li>
            </ul>
        </div>
        <div class="widget_list widget_categories">
            <h2>Select By Color</h2>
            <ul>
                <li>
                    <input type="checkbox">
                    <a href="#">Black (6)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> Blue (8)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Brown (10)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#"> Green (6)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Pink (4)</a>
                    <span class="checkmark"></span>
                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">White (2)</a>
                    <span class="checkmark"></span>

                </li>
                <li>
                    <input type="checkbox">
                    <a href="#">Yellow (3)</a>
                    <span class="checkmark"></span>
                </li>
            </ul>
        </div>*@
                    </div>
                    <div class="single_banner">
                        <a href="#"><img src="assets/img/bg/banner19.jpg" alt=""></a>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_title">
                    <h1>shop</h1>
                </div>
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip" title="3"></button>

                        <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

                        <button data-role="grid_list" type="button" class="active btn-list" data-toggle="tooltip" title="List"></button>
                    </div>
                    <div class=" niceselect_option">

                        <form class="select_option" action="#">
                            <select name="orderby" id="short">

                                <option selected value="1">Sort by average rating</option>
                                <option value="2">Sort by popularity</option>
                                <option value="3">Sort by newness</option>
                                <option value="4">Sort by price: low to high</option>
                                <option value="5">Sort by price: high to low</option>
                                <option value="6">Product Name: Z</option>
                            </select>
                        </form>


                    </div>
                    <div class="page_amount">
                        <p>Showing 1–9 of 21 results</p>
                    </div>
                </div>
                <!--shop toolbar end-->

                <div class="row shop_wrapper grid_list">
                    <div class="col-12 ">
                        @* // foreach shopList*@
                        @foreach (var item in Model.ProductList)
                        {
                            
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="~/images/upload/@item.PictureFileName" alt="" width="200px"></a>
                                     <div class="quick_button">
                                        <a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="ion-eye"></i></a>
                                    </div>
                                    <div class="label_product">
                                        <span class="label_new">New</span>
                                    </div>
                                </div>
                        <div class="row">
                            
                        </div>
                                <div class="product_content grid_content">
                                    <div class="content_inner">
                                        <div class="product_name">
                                            <h3><a href="product-details.html"> @item.Name</a></h3>
                                        </div>
                                        @*<div class="product_ratings">
                                            <ul>
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                            </ul>
                                        </div>*@
                                        <div class="price_box">
                                            <span class="old_price">420.00</span>
                                            <span class="current_price">@item.UnitPrice</span>
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart"><a href="cart.html" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                @*<li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                                                <li class="compare"><a href="#" title="compare"><i class="ion-ios-settings-strong"></i></a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="product_content list_content">
                                    <div>
                                        <div class="product_name">
                                            <h3>Categories :  @item.ProductCategorieCode</h3>
                                        </div>
                                        <div class="product_name">
                                            <h3><a href="product-details.html"> @item.Name</a></h3>
                                        </div>
                                        @*<div class="product_ratings">
            <ul>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
            </ul>
        </div>*@
                                        <div class="price_box">
                                            <span class="old_price">$420.00</span>
                                            <span class="current_price">@item.UnitPrice</span>
                                        </div>
                                        <div class="add_to_links">
                                            <ul>
                                                <li class="add_to_cart"><a href="cart.html" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                @*<li class="wishlist"><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o"></i> Add to Wishlist</a></li>
                <li class="compare"><a href="#" title="compare"><i class="ion-ios-settings-strong"></i> Add to Compare</a></li>*@
                                            </ul>
                                        </div>
                                        @*<div class="product_desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ad, iure incidunt. Ab consequatur temporibus non eveniet inventore doloremque necessitatibus sed, ducimus quisquam, ad asperiores  </p>
        </div>*@
                                    </div>
                                   
                                </div>

                            </div>}
                    </div>
                 
                </div>

                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">next</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>

