@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

<div class="breadcrumbs_area" style="margin-bottom:10px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content" style="padding-bottom:10px;">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>

                        <li>shop list</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 col-md-3">
                <aside class="sidebar_widget">
                    <div class="widget_inner">

                        <div class="widget_list widget_categories">
                            <h2><b>categories</b></h2>
                            <ul>

                                @foreach (var categorie in Model.ShopListViewModel.ProductCategoriesList)
                                {

                                    <li>
                                        <a asp-controller="ShopList" asp-action="Index" asp-route-param="@categorie.Code">

                                            @if (Model.ShopListViewModel.Param == categorie.Code)
                                            {
                                                <b>@categorie.Name</b>

                                            }
                                            else
                                            {
                                                @categorie.Name
                                            }

                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>

                        <div class="widget_list widget_categories" style="width: auto; max-height:700px;min-height:100%; overflow-y: scroll;">
                            <h2>
                                กลุ่มสินค้า
                            </h2>

                            <ul>

                                @foreach (var productGroupitem in Model.ProductGroupList.Where(w => w.ProductCategorieCode.Equals(Model.ShopListViewModel.Param)).Select(i => new { i.Code, i.Name, i.ProductCategorieCode }).Distinct())
                                {

                                    <li>
                                        <a asp-controller="ShopList" asp-action="Index" asp-route-param="@productGroupitem.ProductCategorieCode" asp-route-param2="@productGroupitem.Code">

                                            @if (Model.ShopListViewModel.Param2 == productGroupitem.Code)
                                            {
                                                <b>@productGroupitem.Name</b>
                                            }
                                            else
                                            {
                                                @productGroupitem.Name
                                            }

                                        </a>
                                    </li>

                                }

                            </ul>
                        </div>

                    </div>
                    <div class="single_banner">
                        <a href="#"><img src="assets/img/bg/banner19.jpg" alt=""></a>
                    </div>
                </aside>
            </div>
            <div class="col-sm-6 col-lg-9 col-md-9">
                <div class="shop_title">
                    <h3>รายการสินค้า</h3>
                </div>

                @{ int NoOfProduct = 0; }

                <div class="row shop_wrapper grid_list">
                    <div class="col-12 ">
                        <table id="dataproduct" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ShopListViewModel.ProductList)
                                {
                                    <tr>
                                        <td>
                                            <form class="form-product-item" id="form-product-@NoOfProduct" asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" data-ajax-success="OnAddToCartSuccess">
                                                <input type="hidden" name="hid-form-product-id" value="form-product-@NoOfProduct" />
                                                <input type="hidden" name="ProductId" value="@item.Id" />
                                                <input type="hidden" name="ProductName" value="@item.Name" />
                                                <input type="hidden" name="ProductUnitPrice" value="@item.UnitPrice" />
                                                <input type="hidden" name="ProductPictureFileName" value="@item.PictureFileName" />

                                                <input type="hidden" name="QuantityOfItem" />

                                                <div class="single_product">
                                                    <div class="product_thumb" style="text-align:center;">
                                                        <a class="primary_img" href="product-details.html"><img src="~/images/upload/@item.PictureFileName" alt="" width="200px"></a>

                                                        @if (Model.LoginViewModel.IsLogin)
                                                        {

                                                            <div class="quick_button">
                                                                <a title="quick view" onclick="OpenProductModal(this)"><i class="ion-eye"></i></a>
                                                            </div>

                                                        }
                                                        <div class="label_product">
                                                            <span class="label_new">New</span>
                                                        </div>
                                                    </div>

                                                    <div class="product_content grid_content">
                                                        <div class="content_inner">
                                                            <div class="product_name">
                                                                <h3><a href="product-details.html"> @item.Name</a></h3>
                                                            </div>

                                                            @if (Model.LoginViewModel.IsLogin)
                                                            {
                                                                <div class="price_box">
                                                                    <span class="old_price">420.00</span>
                                                                    <span class="current_price">@item.UnitPrice</span>
                                                                </div>

                                                                <div class="action_links">
                                                                    <ul>
                                                                        <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                                    </ul>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>

                                                    <div class="product_content list_content">
                                                        <div>
                                                            <div class="product_name">
                                                                <h3>Categories :  @item.ProductCategorieCode</h3>
                                                            </div>
                                                            <div class="product_name">
                                                                <h3><a href="product-details.html"> @item.Name</a></h3>
                                                            </div>

                                                            @if (Model.LoginViewModel.IsLogin)
                                                            {

                                                                <div class="price_box">
                                                                    <span class="old_price">$420.00</span>
                                                                    <span class="current_price">@item.UnitPrice</span>
                                                                </div>

                                                                <div class="add_to_links">
                                                                    <ul>
                                                                        <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>
                                                                    </ul>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="submit" name="btn-submit" style="display: none;" />
                                            </form>
                                        </td>
                                    </tr>

                                    NoOfProduct++;

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/js/frontend/shoplist.js"></script>

    <script>

        $(document).ready(function () {
            $('#dataproduct').DataTable();
        });

         var _cartItemList = @Html.Raw(Json.Serialize(@Model.ShopListViewModel.CartItemListViewList));

        AddToCartSubmit = (e) => {
            alert('submit');
            $(e).closest(".form-product-item").find(".btn-submit").click();
        };

        OnAddToCartSuccess = (res) => {
            if (res.isSuccess) {
                window.location = "/Cart/Index";
            }
            else {
                alert('fff');
                swal("Login Failed", "", "error");
            }
        };

    </script>

}


