@using Microsoft.AspNetCore.Http;

@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>บริษัท หัวฮุย อินเตอร์ จำกัด</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/auto1.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <!-- Plugins CSS -->
        <link href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/plugins.css" rel="stylesheet" />

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/style.css">
        <link href="~/lib/material-pro/assets/plugins/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

        <!-- alerts CSS -->
        <link href="~/lib/material-pro/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    </environment>

    <environment include="Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <!-- Plugins CSS -->
        <link href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/plugins.css" rel="stylesheet" />

        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/css/style.css">
        <link href="~/lib/material-pro/assets/plugins/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

        <!-- alerts CSS -->
        <link href="~/lib/material-pro/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    </environment>
</head>
<body>
    <!-- Main Wrapper Start -->

    <!--header area start-->
    <header class="header_area pb-sm-90">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="welcome_text">

                            @*<p> HUAHUI INTER COMPANY</p>*@

                            @if (Model.LoginViewModel.IsLogin)
                            {
                                <span class="text-white strong">
                                    Welcome: @Model.LoginViewModel.Name
                                </span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="top_right text-right">
                            <ul>

                                @if (Model.LoginViewModel.IsLogin)
                                {
                                    <li><a asp-area="Frontend" asp-controller="Login" asp-action="Index" asp-route-param="logout"><i class="ion-log-out"></i> ออกจากระบบ </a></li>
                                }
                                else
                                {
                                    <li><a asp-area="Frontend" asp-controller="Login" asp-action="Index"><i class="ion-log-in"></i> เข้าสู่ระบบ </a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->

        <!--header middel start-->
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo" style="border-radius: 0 30px 30px 0;">
                            <a asp-action="" asp-controller="Home"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="middel_right">
                            <div class="search-container">
                                <form asp-action="index" asp-controller="Shoplist" method="get">
                                    <div class="hover_category" style="width: 250px">
                                        <select class="select_option" name="param" id="param">
                                            <option selected value="all">ทุกหมวดหมู่</option>

                                            @foreach (var itemOfProductCategorie in Model.ProductCategorieList.Select(i => new { i.Code, i.Name }))
                                            {
                                                <option value="@itemOfProductCategorie.Code">@itemOfProductCategorie.Name</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="ค้นหา" type="text" name="textsearch">
                                        <button type="submit">ค้นหา</button>
                                    </div>
                                </form>
                            </div>

                            <div class="middel_right_info">
                                @*<div class="header_account">
                                    <a href="my-account.html"><i class="ion-android-people"></i></a>
                                 </div>*@
                                @* <div class="header_wishlist">
                                    <a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>*@
                                <div class="mini_cart_wrapper">
                                    
                                    @if (Model.LoginViewModel.IsLogin)
	                                {
                                        <a asp-area="Frontend" asp-controller="Cart" asp-action="Index"><i class="ion-bag"></i>@*$138.00*@</a>
	                                }

                                    @*<span class="cart_quantity">2</span>*@
                                    <!--mini cart-->
                                    @*<div class="mini_cart">
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a asp-controller="cart" asp-action="index"><i class=""></i>ดูรายการสั่งซื้อ</a>
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="categories_menu_inner">
                            <div class="categories_menu">
                                <div class="category_toggle">
                                    <a href="#">หมวดหมู่<i class="fa fa-angle-down"></i></a>
                                </div>
                                <nav class="categories_menu_toggle">
                                    <ul>

                                        @foreach (var itemOfProductCategorie in Model.ProductCategorieList)
                                        {

                                            <li class="menu_item_children">
                                                <a asp-area="Frontend" asp-controller="ShopList" asp-action="Index" asp-route-param="@itemOfProductCategorie.Code"> 
                                                    <span class="menu-item-categorie" product-categorie-code="@itemOfProductCategorie.Code" onclick="SelectCategorieMenu(this)">

                                                        @itemOfProductCategorie.Name        |

                                                    </span>
                                                </a>
                                            </li>

                                        }

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->

    <!--header menu area start-->
    <div class="header_main_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_menu menu_one">
                        <nav>
                            <ul>
                                <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                <li><a asp-controller="ShopList" asp-action="index">สินค้าทั้งหมด</a></li>
                                <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                <li><a asp-controller="ContactUs" asp-action="index">ติดต่อเรา</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header menu area end-->

    <!--Offcanvas menu area start-->
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <span>เมนู</span>
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-arrow-left-c"></i></a>
                        </div>
                        <div class="welcome_text">
                            @*<p> Welcom to HUAHUI INTER COMPANY Glad to see you in our store</p>*@
                        </div>
                        <div class="canvas_search_container">
                            <form asp-action="index" asp-controller="Shoplist" method="get">
                                <div class="hover_category">
                                    <select class="select_option" name="param" id="param">
                                        <option selected value="all">ทุกหมวดหมู่</option>

                                        @foreach (var itemOfProductCategorie in Model.ProductCategorieList.Select(i => new { i.Code, i.Name }))
                                        {
                                            <option value="@itemOfProductCategorie.Code">@itemOfProductCategorie.Name</option>
                                        }

                                    </select>
                                </div>
                                <div class="search_box">
                                    <input placeholder="ค้นหา" type="text" name="textsearch">
                                    <button type="submit">ค้นหา</button>
                                </div>
                            </form>
                        </div>
                        <div id="menu" class="text-left">
                            <ul>
                                <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                <li><a asp-controller="Shoplist" asp-action="index">สินค้าทั้งหมด</a></li>
                                <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                <li><a asp-controller="ContactUs" asp-action="index">ติดต่อเรา</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->

    @RenderBody()

    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a asp-action="" asp-controller="Home"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p><h4>บริษัท หัวฮุย อินเตอร์ จำกัด</h4></p>
                                <p><i class="fa fa-map-marker"></i>  36/681 ถ.กาญจนาภิเษก ต.บางรักพัฒนา อ.บางบัวทอง จ.นนทบุรี 11110</p>
                                <p><i class="fa fa-phone"></i><a href="tel:029793208">  02-979-3208</a></p>
                                <p><i class="fa fa-mobile"></i><a href="tel:0806136536">  080-613-6536</a></p>
                                <p><i class="fa fa-facebook"></i><a href="https://www.facebook.com/HUA-HUI-INTER-COLTD-536433739714780/" target="_blank">  HUA HUI INTER CO.LTD</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="widgets_container widget_menu">
                            <h3>แผนที่</h3>
                        </div>
                        <div class="footer_menu">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.7853828607294!2d100.3876993143144!3d14.030732194549884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e289b3c4963ae9%3A0xe7e62cae35ca2aae!2z4Lia4Lij4Li04Lip4Lix4LiX4Lir4Lix4Lin4Liu4Li44Lii4Lit4Li04LiZ4LmA4LiV4Lit4Lij4LmM4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sen!2sth!4v1563710377905!5m2!1sen!2sth" 
                                  width="100%" height="100%"  frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-12" style="padding-left:50px">
                        <div class="widgets_container widget_menu">
                            <h3>เมนู</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a asp-action="" asp-controller="Home">หน้าแรก</a></li>
                                    <li><a asp-controller="Shoplist" asp-action="index">สินค้าทั้งหมด</a></li>
                                    <li><a asp-controller="Promotion" asp-action="index">โปรโมชั่น</a></li>
                                    <li><a asp-controller="AboutUs" asp-action="index">เกี่ยวกับเรา</a></li>
                                    <li><a asp-controller="ContactUs" asp-action="index">ติดต่อเรา</a></li>
                                    <li><a href="/Backend/Login/Index" target="_blank">การจัดการ <i class="fa fa-lock"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2019 <a href="https://www.hypersoft-solution.com" target="_blank">HYPERSOFT SOLUTION COMPANY</a>  All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

        <!-- Plugins JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/plugins.js"></script>

        <!-- Main JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/main.js"></script>
        <script src="~/lib/material-pro/assets/plugins/datatables/datatables.min.js"></script>

        <!-- Sweet-Alert  -->
        <script src="~/lib/material-pro/assets/plugins/sweetalert/sweetalert.min.js"></script>
        <script src="~/lib/material-pro/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    </environment>

    <environment include="Staging, Production">
        <script src="~/lib/jquery/jquery.min.js"></script>

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>

        <!-- Plugins JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/plugins.js"></script>

        <!-- Main JS -->
        <script src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/js/main.js"></script>
        <script src="~/lib/material-pro/assets/plugins/datatables/datatables.min.js"></script>

        <!-- Sweet-Alert  -->
        <script src="~/lib/material-pro/assets/plugins/sweetalert/sweetalert.min.js"></script>
        <script src="~/lib/material-pro/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
    </environment>

    <script>

        $(function () {
            // #region Bind Select Categorie Menu

            let currentUrl = window.location.href;
            let productCategorieCodeOfUrl = currentUrl.substring(currentUrl.indexOf("=") + 1);

            $(".menu-item-categorie").each(function (index, element) {
                let productCategorieCode = $(element).attr("product-categorie-code");

                if (productCategorieCode === productCategorieCodeOfUrl)
                {
                    if (matchMedia("(max-width: 991px)").matches) {
                        $(element).css("color", "#E55427");
                    }

                    return false;
                }
            });

            // #endregion
        });

        SelectCategorieMenu = (e) => {
            let categorieMenuLink = $(e).closest("a").prop("href");
            window.location = categorieMenuLink;
        };

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
