@model HuahuiSite.Web.Areas.Frontend.Models.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area pt-30">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Delete</th>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.CartItemListViewList)
                                    {
                                        <tr>

                                            <!-- Hidden Value -->

                                            <input type="hidden" name="hid-cart-item-id" value="@item.Id" />

                                            <!-- End Hidden Value -->

                                            <td class="product_remove"><a onclick="RemoveCartItem(this)"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a href="#"><img src="~/images/upload/@item.PictureFileName" alt=""></a></td>
                                            <td class="product_name"><a href="#">@item.ProductName</a></td>
                                            <td class="product-price">@item.UnitPrice</td>
                                            <td class="product_quantity"><label>Quantity</label> <input type="number" name="ProductQuantity" min="0" max="100" value="1" onchange="CalculateTotalPrice(this)" /></td>
                                            <td class="product_total"></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="button" onclick="UpdateCart()">update cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->

@section Scripts {

    <script>

        var _cartItemList = @Html.Raw(Json.Serialize(@Model.CartItemList));

    </script>

    <script src="~/js/frontend/cart.js"></script>

}
