@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

@*@{
    ViewData["Title"] = "Index";
}*@

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            @*<div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form id="form-cart-item">

            @if (@Model.CartViewModel != null)
            {

                <!-- Hidden Value Start -->

                <input type="hidden" name="hid-cart-id" value="@Model.CartViewModel.Id" />
                <input type="hidden" name="hid-order-id" value="@Model.CartViewModel.OrderId" />

                <!-- Hidden Value End -->

            }

            <div class="row">
                <div class="col-12">

                    @if (@Model.CartViewModel != null)
                    {
                        <h4>ORDER ID: @Model.CartViewModel.OrderId</h4>
                        <h4>Status: @(Model.CartViewModel.Status.Equals("Cart") ? "รอยืนยันการสั่งซื้อ" : Model.CartViewModel.Status.Equals("Confirm") ? "ยืนยันการสั่งซื้อแล้ว" : "อนุมัติการสั่งซื้อแล้ว")</h4>

                        if (@Model.CartViewModel.UserRole.Equals("Customer"))
                        {
                            <h4>Sale Name: @Model.CartViewModel.Sale.Firstname  @Model.CartViewModel.Sale.Lastname</h4>
                        }
                        else if (@Model.CartViewModel.UserRole.Equals("Sale") && @Model.CartViewModel.Status.Equals("Cart"))
                        {
                            <div class="row">
                                <h4 class="col-sm-1">Customer Name: </h4><select name="select-customer" asp-items="@Model.CartViewModel.CustomerSelectList" class="form-control col-sm-3"></select>
                            </div>
                        }
                        else if (@Model.CartViewModel.UserRole.Equals("Sale") && !@Model.CartViewModel.Status.Equals("Cart"))
                        {
                            <h4>Customer Name: @Model.CartViewModel.Customer.Firstname  @Model.CartViewModel.Customer.Lastname</h4>
                        }
                    }

                    <div class="table_desc mt-2">
                        <div class="cart_page table-responsive">
                            <table id="table-data">
                                <thead>
                                    <tr>
                                        <th>Delete</th>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{

                                        int SummaryQuantityOfProduct = 0;
                                        decimal SummaryTotalOfProduct = 0;

                                    }

                                    @if (Model.CartViewModel != null)
                                    {
                                        @foreach (var item in Model.CartViewModel.CartItemModelList)
                                        {

                                            <tr class="tr-data-row">

                                                <!-- Hidden Value Start -->

                                                <input type="hidden" name="hid-cart-item-id" value="@item.Id" />

                                                <!-- Hidden Value End -->

                                                @if (!Model.CartViewModel.Status.Equals("Approve"))
                                                {
                                                    <td class="product_remove"><a onclick="RemoveCartItem(this)"><i class="fa fa-trash-o"></i></a></td>
                                                }
                                                else
                                                {
                                                    <td class="product_remove"></td>
                                                }

                                                <td class="product_thumb"><a href="#"><img src="~/images/upload/@item.PictureFileName" alt=""></a></td>
                                                <td class="product_name"><a href="#">@item.ProductName</a></td>
                                                <td class="product-price">@(!item.IsPromotion ? @item.UnitPrice : @item.PromotionPrice)</td>
                                                <td class="product_quantity">

                                                    @if (Model.CartViewModel.Status != "Approve")
                                                    {
                                                        <input type="number" name="ProductQuantity" min="@item.MinQuantity" max="@item.MaxQuantity" value="@item.Quantity" oninput="CalculateTotalPrice(this)" onkeyup="CalculateTotalPrice(this)" />
                                                    }
                                                    else
                                                    {
                                                        <input type="number" name="ProductQuantity" value="@item.Quantity" disabled />
                                                    }

                                                </td>
                                                <td class="product_total">@item.TotalPrice</td>
                                            </tr>

                                            SummaryQuantityOfProduct += @item.Quantity;
                                            SummaryTotalOfProduct += @item.TotalPrice;

                                        }
                                    }

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td id="td-summary-quantity-product">@SummaryQuantityOfProduct</td>
                                        <td id="td-summary-total-product">@SummaryTotalOfProduct</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        @if (Model.CartViewModel != null && !Model.CartViewModel.Status.Equals("Approve"))
                        {
                            <div class="cart_submit">
                                <button type="button" onclick="UpdateCart()">ยืนยันการแก้ไข</button>
                                <hr />
                                
                                @if (Model.CartViewModel.Status.Equals("Cart"))
                                {
                                    <span class="text-info"> เมื่อต้องการสั่งซื้อสินค้ากรุณากดที่ปุ่ม =></span><button type = "button" onclick="CheckOutCart(this)">สั่งซื้อสินค้า</button>
                                }

                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->

@section Scripts {

    <script>

            var _cartItemList = @Html.Raw(Json.Serialize(@Model.CartViewModel.CartItemModelList));

    </script>

    <script src="~/js/frontend/cart.js"></script>

}
