@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

@{
    ViewData["Title"] = "Index";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form id="form-cart-item">

            @if (@Model.CartViewModel != null)
            {

                <!-- Hidden Value Start -->

                <input type="hidden" name="hid-cart-id" value="@Model.CartViewModel.Id" />

                <!-- Hidden Value End -->

            }

            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Delete</th>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.CartViewModel != null)
                                    {
                                        @foreach (var item in Model.CartViewModel.CartItemListViewList)
                                        {

                                            <tr class="tr-data-row">

                                                <!-- Hidden Value Start -->

                                                <input type="hidden" name="hid-cart-item-id" value="@item.Id" />

                                                <!-- Hidden Value End -->

                                                <td class="product_remove"><a onclick="RemoveCartItem(this)"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="#"><img src="~/images/upload/@item.PictureFileName" alt=""></a></td>
                                                <td class="product_name"><a href="#">@item.ProductName</a></td>
                                                <td class="product-price">@item.UnitPrice</td>
                                                <td class="product_quantity"><label>Quantity</label> <input type="number" name="ProductQuantity" min="0" max="100" value="@item.Quantity" onchange="CalculateTotalPrice(this)" /></td>
                                                <td class="product_total">@item.TotalPrice</td>
                                            </tr>

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>

                        @if (Model.CartViewModel != null && !Model.CartViewModel.Status.Equals("Confirm"))
                        {
                            <div class="cart_submit">
                                <button type="button" onclick="UpdateCart()">ยืนยันการแก้ไข</button>
                                <button type="button" onclick="CheckOutCart(this)">สั่งซื้อสินค้า</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->

@section Scripts {

    <script>

        @if (Model.CartViewModel != null)
        {
            var _cartItemList = @Html.Raw(Json.Serialize(@Model.CartViewModel.CartItemList));
        }

    </script>

    <script src="~/js/frontend/cart.js"></script>

}
