@model HuahuiSite.Web.Areas.Backend.Models.CartViewModel

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-actions">
                <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
            </div>
        </div>
        <div class="card-body collapse show">
            <div class="table-responsive">
                <table class="table" id="table-data">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order Id</th>
                            <th>Customer Name</th>
                            <th>Sale Name</th>
                            <th>Status</th>
                            <th>Edit / Approve</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ int No = 1; }

                        @foreach (var itemOfCart in Model.CartList)
                        {

                        <tr class="tr-data-row">

                            <td>@No</td>
                            <td>@itemOfCart.OrderId</td>
                            <td>@itemOfCart.CustomerName</td>
                            <td>@itemOfCart.SaleName</td>
                            <td>
                                @if (itemOfCart.Status.Equals("Approve"))
                                {
                                    <span class="label label-warning">ระบบรับ Order แล้ว</span>
                                }
                                else if (itemOfCart.Status.Equals("Complete"))
                                {
                                    <span class="label label-success">ปิดการขาย</span>

                                }
                                else if (itemOfCart.Status.Equals("Cart"))
                                {
                                    <span class="label label-danger">รอการยืนยัน</span>

                                }
                                else if (itemOfCart.Status.Equals("Confirm"))
                                {
                                    <span class="label label-warning">ยืนยันการสั่งซื้อแล้ว</span>

                                }
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modal-row-table-@No"> <i class="fas fa-pencil-alt text-inverse m-r-10"></i> </a>
                                <div class="modal fade" id="modal-row-table-@No" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <form class="form-row-table">

                                                <!-- Hidden Value Start -->

                                                <input type="hidden" name="hid-cart-id" value="@itemOfCart.Id" />

                                                <!-- Hidden Value End -->

                                                <div class="modal-header" style="background-color: #ff6a00;">
                                                    <h4 class="modal-title text-white">Edit Cart</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="text-white">×</span></button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="modal-body">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="card-actions">
                                                                        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body collapse show">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-data-item">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Product Name</th>
                                                                                    <th>Picture</th>
                                                                                    <th>Unit Price</th>
                                                                                    <th>Quantity</th>
                                                                                    <th>Total Price</th>
                                                                                    <th>Delete</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @{

                                                                                    int SummaryQuantityOfProduct = 0;
                                                                                    decimal SummaryTotalOfProduct = 0;

                                                                                }

                                                                                @foreach (var itemOfCartItem in Model.CartItemListModelList.Where(w => w.CardId.Equals(itemOfCart.Id)))
                                                                                {

                                                                                    <tr class="tr-data-item-row">

                                                                                        <!-- Hidden Value of Cart Item Start -->

                                                                                        <input type="hidden" name="hid-cart-item-id" value="@itemOfCartItem.Id" />
                                                                                        <input type="hidden" name="hid-cart-item-cart-id" value="@itemOfCartItem.CardId" />
                                                                                        <input type="hidden" name="hid-cart-item-product-id" value="@itemOfCartItem.ProductId" />
                                                                                        <input type="hidden" name="hid-cart-item-created-datetime" value="@itemOfCartItem.CreatedDateTime" />

                                                                                        <input type="hidden" name="hid-cart-item-unit-price" value="@itemOfCartItem.UnitPrice" />

                                                                                        <input type="hidden" name="hid-cart-product-group-code" value="@itemOfCartItem.ProductGroupCode" />
                                                                                        <input type="hidden" name="hid-cart-is-promotion" value="@(itemOfCartItem.IsPromotion ? "true" : "false")" />

                                                                                        <!-- Hidden Value of Cart Item End -->

                                                                                        <td>@itemOfCartItem.ProductName</td>
                                                                                        <td>
                                                                                            <img src="~/images/upload/@itemOfCartItem.PictureFileName" alt="Picture" width="80" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" class="form-control col-sm-6" name="UnitPrice" value="@itemOfCartItem.UnitPrice" disabled />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="number" class="form-control col-sm-6" name="Quantity" step="1" min="1" value="@itemOfCartItem.Quantity" oninput="CalculateTotalPrice(this)" onkeyup="CalculateTotalPrice(this)" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" class="form-control col-sm-10" name="TotalPrice" value="@itemOfCartItem.TotalPrice" />
                                                                                        </td>
                                                                                        <td>
                                                                                            <a href="#" onclick="RemoveCartItem(this, event)"><i class="fas fa-trash-alt text-inverse m-r-10"></i></a>
                                                                                        </td>
                                                                                    </tr>

                                                                                    SummaryQuantityOfProduct += itemOfCartItem.Quantity;
                                                                                    SummaryTotalOfProduct += itemOfCartItem.TotalPrice;

                                                                                }

                                                                                <tr class="tr-data-total-row">
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td><b>Total</b></td>
                                                                                    <td><input type="text" class="form-control col-sm-6" name="summary-quantity" value="@SummaryQuantityOfProduct" disabled /></td>
                                                                                    <td><input type="text" class="form-control col-sm-10" name="summary-total-price" value="@SummaryTotalOfProduct" disabled /></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-sm-6">

                                                        @if (@itemOfCart.Status.Equals("Confirm"))
                                                        {
                                                            <div class="float-left">
                                                                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" onclick="ApproveCart(this)">Approve</button>
                                                            </div>
                                                        }

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="float-right">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-success" onclick="UpdateCart(this)"><i class="fa fa-check"></i> Success</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" onclick="Delete(this)"><i class="fas fa-trash-alt text-inverse m-r-10"></i></a>
                            </td>
                        </tr>

                            No++;

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>