@model HuahuiSite.Web.Areas.Frontend.Models.MainViewModel

<!--slider area start-->
<section class="slider_area slider_nav owl-carousel">
    <div class="single_slider" data-bgimg="/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/slider/slider1.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <h1>สินค้าขายดี !!</h1>
                        <h2></h2>
                        <p>+++ สินค้าขายดีประจำเดือนนี้ +++</p>
                        @*<a class="button" href="#">ซื้อเลย</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single_slider" data-bgimg="/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/slider/slider2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <h1>สินค้าแนะนำ !!</h1>
                        <H2></H2>
                        <p>+++ สินค้าแนะนำประจำสัปดาห์ +++</p>
                        @*<a class="button" href="#">ซื้อเลย</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->

<!--home product wrapper star-->
<section class="home_product_wrapper">
    <div class="container">

        <!--countdown product area start-->
        <div class="countdown_product default_product">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>สินค้าโปรโมชั่น</h2>
                        <div class="icone_img">
                            <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/product_icone.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="product_carousel product_column4 owl-carousel">

                    @{ int No = 0; }

                    @foreach (var item in Model.HomeViewModel.ProductList.Where(x => x.IsPromotion).Take(10))
                    {

                        <form class="form-product-item" id="form-product-@No" asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" data-ajax-success="OnAddToCartSuccess">

                            <!-- Hidden Value Start -->

                            <input type="hidden" name="hid-form-product-id" value="form-product-@No" />
                            <input type="hidden" name="ProductId" value="@item.Id" />
                            <input type="hidden" name="ProductName" value="@item.Name" />
                            <input type="hidden" name="ProductUnitPrice" value="@item.UnitPrice" />
                            <input type="hidden" name="ProductPictureFileName" value="@item.PictureFileName" />
                            <input type="hidden" name="IsPromotion" value="@(@item.IsPromotion ? "true" : "false")" />
                            <input type="hidden" name="PromotionPrice" value="@item.PromotionPrice" />

                            <input type="hidden" name="QuantityOfItem" />

                            <!-- Hidden Value End -->

                            <div class="col-lg-3">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <img src="~/images/upload/@item.PictureFileName" alt="">
                                        @if (Model.LoginViewModel.IsLogin)
                                        {
                                            <div class="quick_button">
                                                <a title="quick view" onclick="OpenProductModal(this)"><i class="ion-eye"></i></a>
                                            </div>
                                        }

                                    </div>
                                    <div class="product_content">
                                        <div class="content_inner">
                                            <div class="product_name">
                                                <h3>@item.Name</h3>
                                            </div>

                                            @if (Model.LoginViewModel.IsLogin)
                                            {

                                                <div class="price_box">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-8 col-lg-8">
                                                            <span class="old_price">@item.UnitPrice บาท</span>
                                                            <span class="current_price">@item.PromotionPrice บาท</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="action_links">
                                                    <ul>

                                                        <!-- If Login will Show Add to Cart Button -->

                                                        <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>

                                                    </ul>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>
                                <input type="submit" name="btn-submit" style="display: none;" />
                            </div>
                        </form>

                        No++;

                    }

                </div>
            </div>
        </div>
        <!--countdown product area end-->
        <!--banner area start-->
        <div class="banner_area">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single_banner">
                        <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/bg/banner1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_banner b_right">
                        <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/bg/banner2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!--banner area end-->

        @{ int NoOfCategorie = 0; }

        <!-- Product By Categories Start -->
        @foreach (var itemOfProductCategorie in Model.ProductCategorieList)
        {
            <div class="countdown_product default_product">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>@itemOfProductCategorie.Name</h2>
                            <div class="icone_img">
                                <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/product_icone.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="product_carousel product_column4 owl-carousel">

                        @{ int NoOfproduct = 0;
                            int cat_Pro = NoOfCategorie + NoOfproduct;}

                        @foreach (var itemOfProduct in Model.HomeViewModel.ProductList.Where(w => w.ProductCategorieCode.Equals(itemOfProductCategorie.Code)).Take(10))
                        {
                           
                            <form class="form-product-item" id="form-product-@NoOfCategorie-@NoOfproduct" asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" data-ajax-success="OnAddToCartSuccess">

                            <!-- Hidden Value Start -->

                            <input type="hidden" name="hid-form-product-id" value="form-product-@NoOfCategorie-@NoOfproduct" />
                            <input type="hidden" name="ProductId" value="@itemOfProduct.Id" />
                            <input type="hidden" name="ProductName" value="@itemOfProduct.Name" />
                            <input type="hidden" name="ProductUnitPrice" value="@itemOfProduct.UnitPrice" />
                            <input type="hidden" name="ProductPictureFileName" value="@itemOfProduct.PictureFileName" />
                            <input type="hidden" name="IsPromotion" value="@(itemOfProduct.IsPromotion ? "true" : "false")" />
                            <input type="hidden" name="PromotionPrice" value="@itemOfProduct.PromotionPrice" />

                            <input type="hidden" name="QuantityOfItem" />

                            <!-- Hidden Value End -->

                            <div class="col-lg-3">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        @*<a class="primary_img" href="product-details.html"><img src="~/images/upload/@itemOfProduct.PictureFileName" alt=""></a>*@
                                        <img src="~/images/upload/@itemOfProduct.PictureFileName" alt="">

                                        @if (Model.LoginViewModel.IsLogin)
                                        {<div class="quick_button">
                                                <a title="quick view" onclick="OpenProductModal(this)"><i class="ion-eye"></i></a>
                                            </div>
                                        }

                                    </div>
                                    <div class="product_content">
                                        <div class="content_inner">
                                            <div class="product_name">
                                                <h3>@itemOfProduct.Name</h3>
                                            </div>

                                            @if (Model.LoginViewModel.IsLogin)
                                            {
                                                <div class="price_box">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-8 col-lg-8">

                                                            @if (!itemOfProduct.IsPromotion)
                                                            {
                                                            <span class="current_price">@itemOfProduct.UnitPrice บาท</span>
                                                            }
                                                            else
                                                            {
                                                            <span class="old_price">@itemOfProduct.PromotionPrice บาท</span>
                                                            <span class="current_price">@itemOfProduct.UnitPrice บาท</span>
                                                            }

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="action_links">
                                                    <ul>

                                                        <!-- If Login will Show Add to Cart Button -->

                                                        <li class="add_to_cart"><a onclick="OpenProductModal(this)" title="add to cart"><i class="ion-bag"></i> add to cart</a></li>

                                                    </ul>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="btn-submit" style="display: none;" />
                        </form>

                            NoOfproduct++;

                        }

                    </div>
                </div>
            </div>

            NoOfCategorie++;

        }
        <!-- Product By Categories End -->
        <!--blog testimonial area-->
        <!--blog testimonial start-->
    </div>

</section>
<!--home product wrapper end-->

<!--brand area start-->
<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Partner  </h2>
                    <div class="icone_img">
                        <img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/icon/icon-blog.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="brand_container owl-carousel">

                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand1.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand3.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand5.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand6.png" alt=""></a>
                            </div>
                        </div>
                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand7.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand8.png" alt=""></a>
                            </div>
                        </div>
                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand9.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand10.png" alt=""></a>
                            </div>
                        </div>
                        <div class="single_brand">
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand3.png" alt=""></a>
                            </div>
                            <div class="brand_items">
                                <a href="#"><img src="~/lib/themeforest-venezo-ecommerce-bootstrap-4-template/assets/img/brand/brand4.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->

@section Scripts {

    <script src="~/js/frontend/home.js"></script>

    <script>

        var _cartItemList = @Html.Raw(Json.Serialize(@Model.HomeViewModel.CartItemListViewList));

        AddToCartSubmit = (e) => {
            $(e).closest(".form-product-item").find(".btn-submit").click();
        };

        OnAddToCartSuccess = (res) => {
            if (res.isSuccess) {
                window.location = "/Cart/Index";
            }
            else {
                swal("Login Failed", "", "error");
            }
        };

    </script>

}